{% extends 'base.html' %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block retroceso %}<!-- js página anterior: javascript:window.history.go(-1); -->
    {% include 'retroceso.html' %}
{% endblock %}

{% block main_title %}
    Calidad agua estanque: {{ estanque.nombre }}
{% endblock %}

{% block micontenido %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
                    <p>Fecha: {{ caliagua.fecha_registro }}</p>
                    <p>oxigeno: {{ caliagua.oxigeno }}</p>
                    <p>temperatura: {{ caliagua.temperatura }}</p>
        </div>
    </div>

{% endblock %}