{% extends 'base.html' %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block retroceso %}<!-- js página anterior: javascript:window.history.go(-1); -->
    {% include 'retroceso.html' %}
{% endblock %}

{% block main_title %}
    Calidad agua estanque: {{ estanque.nombre }}
{% endblock %}

{% block micontenido %}
    <div class="row">
        <div class="col s12 m12">
            <table class="striped highlight">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <td>Fecha:</td>
                    <td>{{ caliagua.fecha_registro }}</td>
                </tr>
                <tr>
                    <td>oxigeno: {</td>
                    <td>{ caliagua.oxigeno }}</td>
                </tr>
                <tr>
                    <td>temperatura: </td>
                    <td>{{ caliagua.temperatura }}</td>
                </tr>
                <tr>
                    <td>pH:</td>
                    <td>{{ caliagua.dureza }}</td>
                </tr>
                 <tr>
                    <td>pH:</td>
                    <td>{{ caliagua.dureza }}</td>
                </tr>
                </tbody>
            </table>
            <br>
            <a class="btn btn-large btn-flat waves-effect right" href="{% url 'cultivo_editar' cultivo.id %}">Editar</a>
        </div>
    </div>
{% endblock %}