{% extends 'base.html' %}
{% load static %}

{% block title %}
    muestreo estanque: {{ muestreo.estanque }}
{% endblock %}

{% block retroceso %}<!-- js página anterior: javascript:window.history.go(-1); -->
    {% include 'retroceso.html' %}
{% endblock %}

{% block main_title %}
    <span class="margin-derecha">Muestreo cultivo: {{ muestreo.cultivo }}</span>
{% endblock %}

{% block micontenido %}
    <div class="row">
        <div class="col s12 m12">
            <table class="striped highlight">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <td>Talla promedio (cm):</td>
                    <td>{{ muestreo.talla_promedio_cm }}</td>
                </tr>
                <tr>
                    <td>Peso promedio (gr):</td>
                    <td>{{ muestreo.peso_promedio_gr }}</td>
                </tr>
                <tr>
                    <td>Valor ajuste:</td>
                    <td>{{ muestreo.valor_ajuste_tabla}}</td>
                </tr>
                <tr>
                    <td>Biomasa (kg):</td>
                    <td>{{ muestreo.b }}</td>
                </tr>
                <tr>
                    <td>Ajuste dieta (kg):</td>
                    <td>{{ muestreo.a_d }}</td>
                </tr>
                <tr>
                    <td>Ganancia diaria peso:</td>
                    <td>{{ muestreo.g_d_p }}</td>
                </tr>
                <tr>
                    <td>Factor conversion alimenticia:</td>
                    <td>{{ muestreo.f_c_a }}</td>
                </tr>
                <tr>
                    <td>responsable:</td>
                    <td>{{ muestreo.responsable }}</td>
                </tr>
                <tr>
                    <td>fecha registro:</td>
                    <td>{{ muestreo.fecha_registro }}</td>
                </tr>
                <tr>
                    <td>fecha modificado:</td>
                    <td>{{ muestreo.fecha_update }}</td>
                </tr>
                <tr>
                    <td>Observaciones:</td>
                    <td>{{ muestreo.observaciones }}</td>
                </tr>
                </tbody>
            </table>
            <br>
            <a class="btn btn-large btn-flat waves-effect right" href="#">
                <i class="material-icons right">create</i>
                Editar
            </a>
        </div>
    </div>

{% endblock %}

{% block custom_script %}
    <script>
        {% if messages %}
                {% for message in messages %}
                    M.toast({html: '{{ message }}', classes: 'rounded'})
                {% endfor %}
            {% endif %}
    </script>
{% endblock %}