
.icon-block {
  padding: 0 15px;
}


.icon-block .material-icons {
	font-size: inherit;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #323232;
  }

main {
    flex: 1 0 auto;
}
p{
    margin-top: .8em;
    margin-top: .8em;
}
footer[class*="page-footer"] {
    padding-top: 15px;
}

/*#logo-container::before{*/
    /*background-color: #333;*/
    /*background-position: 0 0;*/
    /*background-repeat: no-repeat;*/
    /*!*background: *!*/
    /*height: 24px;*/
    /*width: 24px;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*!*background-size: 200px;*!*/
    /*content: url("/static/img/control-piscicola.png");;*/
/*}*/

.max{
    max-height: 200px;
    max-width: 200px;
    padding: 0;
 }
.centrar{
    display: block;
    margin: auto;
}

h1, h2, h3, h4, h5, h6, .robotocondensed{
    font-family: 'Roboto Condensed', sans-serif;
}

logo-s{
    font-size: 2rem !important;
}
.ajuste{
    /*vertical-align: middle;*/
    max-width: 100%;
    max-height: 100%;
    padding: 10px 5px;
    margin: auto;
    /*display: block;*/
}
.brand-logo i{
    margin-right: 5px !important;
    margin-left: 5px !important;
}

input[id]{
    font-size: 1.5rem !important;
    height: 2.5rem !important;
}
label[for]{
    font-size: 1rem !important;
}
html{
    font-size: 16px !important;
}

ul[class="errorlist"]{
    color: #8b1014;
}
