{% extends 'base.html' %}

{% block title %}
    {{ titulo }}
{% endblock %}

{% block h2 %}
    {{ titulo }}
{% endblock %}

{% block micontenido %}
    {% if estanques %}

        <span class="blue-text text-darken-2">número de estanques: {{ estanques|length }}</span>
        
        <div class="row">
            <ul>
                {% for estanque in estanques %}

                    <li class="col s12 m6">

                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">{{ estanque.nombre }}</span>
                                <p>{{ estanque.detalle }}</p>
                            </div>
                            <div class="card-action">
                                <a href="#">Detalles</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>No se han registrado estanques</p>
    {% endif %}

{% endblock %}