{% extends 'base.html' %}

{% block title %}
    estanque: {{ estanque.nombre }}
{% endblock %}

{% block retroceso %}
{% include 'retroceso.html' %}
{% endblock %}

{% block main_title %}
    <span class="margin-derecha">Estanque: {{ estanque.nombre }}</span>
{% endblock %}

{% block micontenido %}
    <div class="row">
        <div class="col s12 m8 offset-m3">
            <a class="btn btn-flat btn-large right waves-effect waves-light"
               href="{% url 'control:calidad_agua_listar' estanque.id %}">
                <i class="material-icons right">insert_chart</i>Calidad - agua</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col s12 m12">
            <table class="striped">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <td>Tipo:</td>
                    <td>{{ estanque.tipo }}</td>
                </tr>
                <tr>
                    <td>Nivel agua (mts):</td>
                    <td>{{ estanque.nivel_agua_mts }}</td>
                </tr>
                <tr>
                    <td>Area (mts2):</td>
                    <td>{{ estanque.mts_2 }}</td>
                </tr>
                <tr>
                    <td>Responsable:</td>
                    <td>{{ estanque.responsable }}</td>
                </tr>
                <tr>
                    <td>Fecha de registro:</td>
                    <td>{{ estanque.fecha_registro }}</td>
                </tr>
                <tr>
                    <td>Fecha de modificación:</td>
                    <td>{{ estanque.fecha_update }}</td>
                </tr>
                <tr>
                    <td>detalle:</td>
                    <td>{{ estanque.detalle }}</td>
                </tr>
                </tbody>
            </table>
            <br>
            <a class="btn btn-large btn-flat waves-effect right" href="{% url 'estanque_editar' estanque.id%}">
                <i class="material-icons right">create</i>
                Editar
            </a>
        </div>
    </div>
{% endblock %}