{% extends 'base.html' %}

{% block title %}
   Piscícola: {% if la_piscicola %}{{ la_piscicola.razon_social }} {% endif %}
{% endblock %}

{% block main_title %}
    Piscícola: {% if la_piscicola %}{{ la_piscicola.razon_social }} {% endif %}
{% endblock %}

{% block micontenido %}
    <div class="center">
        {% if la_piscicola %}
            <div class="row">
            <div class="col s12 m4">
                <a class="nowrap btn btn-flat btn-large full_ancho_m" href="{% url 'cultivo_list' %}">
                    <span class="">Mis Cultivos</span>
                </a>
            </div>
            <div class="col s12 m4">
                <a class="nowrap btn btn-flat btn-large full_ancho_m" href="{% url 'estanque_list' %}">
                    <span>Mis Estanques</span>
                </a>
            </div>
            <div class="col s12 m4">
                <a class="nowrap btn btn-flat btn-large full_ancho_m" href="{% url 'inventario:concentrado_list' %}">
                    <span class="">Mi Concentrado</span>
                </a>
            </div>
            </div>
        {% else %}
            <p class="flow-text">No has configurado tu finca, comunícate con el administrador</p>
        {% endif %}
    </div>


{% endblock %}