{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    {% include 'config.html' %}
    <!-- favicon -->
    <link rel="icon" href="{% static 'img/control-piscicola.png' %}"/>
    <!-- titulo pestaña -->
    <title>
        Control Piscícola |
        {% block title %}
            Inicio
        {% endblock %}
    </title>
</head>

<body>
<header>
        <!-- barra de navegación  -->
        {% include 'navinicio.html' %}
</header>

<!-- contnido principal -->
<main>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <!-- titulo de sección  -->
            <h3>
                {% block h2 %}
                    Bienvenido
                {% endblock %}
            </h3>
            <!-- contenido principal center-align valign-wrapper-->
            <div class="micontenido">
                {% block micontenido %}
                    {#                    <img class="responsive-img right-align centrar max" src="{% static 'img/control-piscicola.png' %}">#}
                    <h5>Aplicación para Manejo de registros Piscícolas</h5>
                    <!-- errores del view registrar-->
                    {% if messages %}
                        {% for mensaje in messages %}
                            {{ mensaje.tag }}{{ mensaje }}
                        {% endfor %}
                    {% endif %}
                    {% if mensaje %}
                        <p>{{ mensaje }}</p>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
</main>

{#<div class="prueba">#}
{#    <p>prueba css</p>#}
{#</div>#}
<!--  Footer-->
{% include 'footer.html' %}

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>

<!-- probando modal materialize -->
<script>
    $(document).ready(function () {
        $('.modal').modal();
    });
</script>
</body>
</html>