{% load static %}
<footer class="page-footer blue darken-4">
    <div class="container">
        <p class="">Proyecto de Grado | Universidad de Cartagena | Desarrollador <a class="orange-text text-accent-2" href="#">Jesus Gil Berdugo</a></p>
    </div>
{#    <div class="footer-copyright">#}
{#        <div class="container">#}
{#            Proyecto de Grado | Universidad de Cartagena#}
{#            <br>Desarrollador <a class="orange-text text-accent-2" href="#">Jesus Gil Berdugo</a>#}
{#        </div>#}
{#    </div>#}
</footer>