<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Control Pisícola</a>
        <!--enlaces version pantalla grande-->
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Ingresar</a></li>
        </ul>
        <!-- enlaces de la version móvil-->
        <ul id="nav-mobile" class="sidenav">
            <div class="orange-text text-lighten-3 center">Opciones</div>
            <li><a href="#">Ingresar</a></li>

        </ul>



        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>