{% load static %}

<nav class="light-blue">
    <div class="nav-wrapper container">

        {% if user.is_authenticated %}

            <a id="logo-container" href="{% url 'la_piscicola' %}" class="brand-logo flow-text">
                <i class="right hide-on-med-and-down">
                    <img class="ajuste" src="{% static 'img/control-piscicolaw.png' %}"
                         alt="logo: pez + simbolo de verificado">
                </i>
                <span class="robotocondensed flow-text valign-wrapper">Control Piscícola</span>
            </a>

            <!--enlaces version pantalla grande-->
            <ul class="right hide-on-med-and-down">
                {% if user.profile.trabaja_en %}
                    <li><a href="{% url 'cultivo_list' %}">Cultivos</a></li>
                    <li><a href="{% url 'estanque_list' %}">Estanques</a></li>
                    <li><a href="{% url 'inventario:concentrado_list' %}">Concentrado</a></li>
                {% else %}

                {% endif %}
                <li><a href="{% url 'salir' %}">salir</a></li>
                <li><a class="blue-text text-darken-4" href="{% url 'perfil' %}">{{ user.username }}</a></li>
            </ul>
            <!-- enlaces de la version móvil-->
            <ul id="nav-mobile" class="sidenav">
                <!-- logo en móviles-->
                <div class="white-text nav_mobile center">

                        <i class="right">
                            <img class="ajuste" src="{% static 'img/control-piscicolaw.png' %}"
                                 alt="logo: pez + simbolo de verificado">
                        </i>
                        Menú

                </div>
                {% if user.profile.trabaja_en %}
                    <li><a href="{% url 'cultivo_list' %}">Cultivos</a></li>
                    <li><a href="{% url 'estanque_list' %}">Estanques</a></li>
                    <li><a href="{% url 'inventario:concentrado_list' %}">Concentrado</a></li>
                {% else %}

                {% endif %}
                <li><a href="{% url 'salir' %}">salir</a></li>
                <li><a class="orange-text text-accent-2" href="{% url 'perfil' %}">{{ user.username }}</a></li>
            </ul>

        {% else %}

            <a id="logo-container" href="{% url 'inicio' %}" class="brand-logo">
                <i class="right hide-on-med-and-down">
                    <img class="ajuste" src="{% static 'img/control-piscicolaw.png' %}"
                         alt="logo de la aplicación">
                </i>
                <span class="robotocondensed flow-text valign-wrapper">Control Piscícola</span>
            </a>

            <!--enlaces version pantalla grande-->
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'ingresar' %}">Ingresar</a></li>
            </ul>
            <!-- enlaces de la version móvil-->
            <ul id="nav-mobile" class="sidenav">
                <div class="white-text nav_mobile center">

                        <i class="right">
                            <img class="ajuste" src="{% static 'img/control-piscicolaw.png' %}"
                                 alt="logo: pez + simbolo de verificado">
                        </i>
                        Menú

                </div>
                <li><a href="{% url 'ingresar' %}">Ingresar</a></li>
            </ul>

        {% endif %}

        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>